.act {
    background-color: #4FD6CC;
    text-align: center;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 80vw;
    margin: 0 auto;
    padding: 30px;
    margin-top: 6px;
  }
  
  .att {
    background-color: #4FD6CC;
    display: flex;
    justify-content: center;
    width: 80vw !important;
    margin: 0 auto;
    position: relative;
    left: 10rem;
    border-radius: 15px;
    padding: 10px;
    margin-top: 10px;
  }