.Rcard {
  background: linear-gradient(red, transparent),
    linear-gradient(to top left, lime, transparent),
    linear-gradient(to top right, blue, transparent);
  background-blend-mode: screen;

  border-radius: 20px 20px 20px 20px;
  text-align: center;
}
